<div class="fullCover background">
    <div class="fullCover backgroundCover centerBoth">
        <mat-card appearance="outlined" class="noAuthCard">
            <mat-card-header class="cardHeaderCenter">
                <mat-card-title class="cardLrgHeader">Password Reset</mat-card-title>
                <!-- <mat-card-subtitle></mat-card-subtitle> -->
            </mat-card-header>
        
            <mat-card-content class="pad16">
                <mat-form-field class="fullWidth">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" required>
                </mat-form-field>
        
                <button mat-flat-button routerLink="" color="primary" class="fullWidth mrgBot8">Submit</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>