@import "../node_modules/@angular/material/prebuilt-themes/azure-blue.css";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fullWidth {
    width: 100%;
}

button {
    border-radius: 4px !important;
}

.fullCover {
    height: 100vh;
    width: 100vw;
}

.centerBoth {
    justify-content: center; 
    display: flex; 
    align-items: center;
}

.noAuthCard {
    max-width: 480px
}

.cardHeaderCenter {
    justify-content: center; 
    text-align: center;
}

.cardLrgHeader {
    font-size: 26px !important;
}

.pad16 {
    padding: 16px !important;
}

.mrgBot8 {
    margin-bottom: 8px;
}

@media only screen and (max-width: 480px) {
    .noAuthCard {
        width: 100%;
        height: 100%;
    }
}