.background {
    background: rgb(154,225,157);
    background: linear-gradient(139deg, rgba(154,225,157,1) 0%, rgba(154,225,157,1) 31%, rgba(35,45,63,1) 100%);
}

.backgroundCover {
    background-color: rgba(0 0 0 / 80%);
}

.linkOffset {
    transform: translate(0, -16px);
}