.background {
    background: rgb(2,0,36);
    background: linear-gradient(345deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100%);
}

.backgroundCover {
    background-color: rgba(0 0 0 / 80%);
}

.linkOffset {
    transform: translate(0, -16px);
}