<div class="fullCover background">
    <div class="fullCover backgroundCover centerBoth">
        <mat-card appearance="outlined" class="noAuthCard">
            <mat-card-header class="cardHeaderCenter">
                <mat-card-title class="cardLrgHeader">Register</mat-card-title>
                <mat-card-subtitle>Get connected with Steam</mat-card-subtitle>
            </mat-card-header>     
            <mat-card-content class="pad16">  
                <button mat-flat-button color="primary" class="fullWidth mrgBot8">Connect your steam account</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>